<template lang="pug">
  section#active
    p(v-if="state==0") 驗證中...
    p(v-if="state==1") 驗證成功
    p(v-if="state==2") 連結失效，請洽管理員
</template>

<script>


export default {
  name: 'Active',
  data(){
    return{
      state: 0
    }
  },
  components: { },
  mounted(){
    let vm = this;
    $.post("http://13.250.1.254:3100/api/register/verify", {registerToken: this.$route.query.token}).done(function(res){
      // console.log(res);
      if(res.status.code == 100){
        vm.$swal(`Good`, `驗證成功，跳轉至登入頁面`, `success` );
        vm.$router.push("/login");
      }else{
        vm.$swal(`連結失效`, `連結失效，請洽管理員`, `error` );
        vm.$router.push("/login");
      }
    });
  }
}
</script>


<style lang="sass" scoped>
section#active
  width: 100vw
  height: 100vh
  background-color: #242424
  position: absolute
  left: 0
  top: 0
  z-index: 10000000
  p
    font-size: 24px
  
</style>
