<template lang="pug">
  .home
    p
</template>

<script>
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    // HelloWorld
  },
  mounted(){
    this.$router.push("/login");
  }
}
</script>
