<template lang="pug">
  section#machine
    .section-wrapper
      .title
        .left
          .title-img(:style="{ backgroundImage: 'url(' + machine.image + ')' }")
        .right
          .main-title
            span {{machine.name}}
          .property
            .os
              img(src="~@/assets/images/icon-linux.svg")
              span {{machine.system}}
            .point
              img(src="~@/assets/images/icon-point.svg")
              span {{machine.basePoints}}
            .system-own-count
              img(src="~@/assets/images/icon-own-system-color.svg")
              span {{machine.systemOwns}}
            .user-own-count
              img(src="~@/assets/images/icon-own-user-color.svg")
              span {{machine.userOwns}}
          .difficulty-bar
            .difficulty-bar-fill(:style="{'width': machine.difficulty*10 + '%'}")
            .difficulty-text
              span Difficulty: {{Math.round(machine.difficulty) || 0}}/{{ Math.round(machine.difficultyMax) || 0}}
      .operations
        .operation-btn(@click="resetMachine")
          img(src="~@/assets/images/icon-reset.svg")
          span Reset
        .operation-btn(@click="openAnswerBox('user', machine.id)", v-if="!machine.isOwnUser")
          img(src="~@/assets/images/icon-own-user.svg")
          span Own User
        .operation-btn.disable(v-if="machine.isOwnUser")
          img(src="~@/assets/images/icon-hook.svg")
          span Own User
        .operation-btn(@click="openAnswerBox('system', machine.id)", v-if="!machine.isOwnSystem")
          img(src="~@/assets/images/icon-own-system.svg")
          span Own System
        .operation-btn.disable(v-if="machine.isOwnSystem")
          img(src="~@/assets/images/icon-hook.svg")
          span Own System
        //- .operation-btn
        //-   img(src="~@/assets/images/icon-status.svg")
        //-   span Status Check
        //- .operation-btn
        //-   img(src="~@/assets/images/icon-info.svg")
        //-   span Info Card
      .info
        .chart
          Radar(:rating="machine.rating")
        .info-text(v-html="machine.description")
          
      .stat-row
        .box
          .main
            span {{machine.ip}}
          .sub
            span Machine IP
      .stat-row
        .group
          .box
            .main
              img(src="~@/assets/images/icon-point.svg")
              span {{machine.basePoints}}
            .sub
              span Base Points
          .box
            .main
              img(src="~@/assets/images/icon-own-system-color.svg")
              span {{machine.systemOwns}}
            .sub
              span System Owns
        .group
          .box
            .main
              img(src="~@/assets/images/icon-own-user-color.svg")
              span {{machine.userOwns}}
            .sub
              span User Owns
          .box
            .main
              img(src="~@/assets/images/icon-days.svg")
              span.daysold {{  machine.createTime - Date.now() | duration('humanize')}}
            .sub
              span Days Old



    AnswerBox(v-if="isOpenAnswerbox" :type="answerType" v-on:closeAnswerbox="closeAnswerbox", :id="currentId", @resetMachine="resetMachine", @getMachineListData="getMachineListData")
</template>

<script>
import Radar from '../components/Radar'
import store from '../store'
import AnswerBox from '../components/AnswerBox'

export default {
  components: { Radar, AnswerBox },
  props: ['id','machineList',"isOwnUser", "isOwnSystem"],
  name: 'Machine',
  data () {
    return {
      machine: {},
      id: "",
      isOpenAnswerbox: false,
      answerType: ""
    }
  },
  mounted(){
    this.id = this.$route.query.id;
    if(!this.id){
      this.$router.push({path: "/machines/?category=0&level=0"});
      return;
    }
    let vm = this;
    $.get("http://13.250.1.254:3100/api/machines/"+ this.id).done(function(res){
      if(res.status.code == 100 || res.status.code == 101){  
        vm.machine = res.machine;
        vm.machine.rating = [vm.machine.ctfLike, vm.machine.enumeration, vm.machine.realLife, vm.machine.cve, vm.machine.customExploitation];
      }else{
        vm.$swal(`Oh no`, `Cannot find this machine`, `warning` );
        vm.$router.push({path: "/machines/?category=0&level=0"});
      }
      store.commit('setPageLoading', false);
    });
  },
  methods: {
    openAnswerBox(type, id) {
      this.answerType = type;
      this.currentId = id;
      this.isOpenAnswerbox = true;
    },
    closeAnswerbox() {
      this.isOpenAnswerbox = false;
    },
    resetMachine(){
      console.log(`reset machine id: ${this.id}`);
    }
  }
}
</script>

<style lang="sass" scoped>
section#machine
  width: 100%
  display: flex
  justify-content: center
  padding: 50px 0
  .section-wrapper
    width: 90%
    max-width: 1000px
    display: flex
    flex-direction: column
    align-items: flex-start
    .title
      width: 100%
      display: flex
      flex-direction: row
      padding-bottom: 25px
      border-bottom: 1px solid #75787B
      .left
        display: flex
        align-items: center
        justify-content: center
        margin-right: 30px
        .title-img
          width: 80px
          height: 80px
          border-radius: 100%
          background-size: cover
          background-position: 50% 50%
      .right
        flex: 1
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center
        .main-title
          font-size: 24px
          font-weight: bold
          margin-bottom: 15px
        .property
          display: flex
          align-items: center
          font-size: 12px
          margin-bottom: 13px
          .os,.point,.system-own-count,.user-own-count
            display: flex
            align-items: center
            margin-right: 15px
            img
              width: 15px
              margin-right: 5px
          .os
            margin-right: 50px
            img
              width: 30px

        .difficulty-bar
          width: 100%
          max-width: 475px
          height: 22px
          background-color: #2A2A2A
          .difficulty-bar-fill
            height: 100%
            background-color: #84BA24
          .difficulty-text
            position: absolute
            top: 50%
            left: 10px
            color: #75787B
            font-size: 12px
            transform: translateY(-50%)
    .operations
      display: flex
      align-items: center
      flex-wrap: wrap
      width: 100%
      padding: 15px 0
      .operation-btn
        width: 110px
        height: 25px
        border: 1px solid #A0A0A0
        border-radius: 3px
        display: flex
        justify-content: center
        align-items: center
        margin-right: 18px
        margin-bottom: 18px
        font-size: 11px
        cursor: pointer
        background-color: rgba(#4B4B4B, 0)
        transition: background-color 0.2s
        &.disable
          border-color: #555
        &:hover
          background-color: rgba(#4B4B4B, 1)
        &:last-child
          margin-right: 0
        img
          height: 15px
          margin-right: 5px
    .info
      width: 100%
      display: flex
      margin-top: 15px
      margin-bottom: 20px
      .chart
        width: 450px
        margin-right: 30px
        display: flex
        align-items: center
        justify-content: center
      .info-text
        flex: 1
        font-size: 14px
        color: #75787B
        line-height: 1.5
        word-wrap: break-word
        width: 40%
        max-width: 40%
      @media screen and (max-width: 1000px)
        flex-direction: column
        .chart
          width: 100%
          height: 400px
          margin-right: 0
          margin-bottom: 30px
    .stat-row
      width: 100%
      margin-bottom: 20px
      display: flex
      flex-wrap: wrap
      .group
        flex: 1
        margin-bottom: 20px
        display: flex
        margin-right: 20px
        @media screen and (max-width: 1000px)
          flex: 0 0 auto
          width: 100%
          margin-right: 0
        &:last-child
          margin: 0
      .box
        flex: 1
        height: 120px
        background-color: #343434
        margin-right: 20px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        &:last-child
          margin: 0
        .main
          font-size: 36px
          font-weight: bold
          display: flex
          justify-content: center
          align-items: center
          margin-bottom: 10px
          img
            height: 30px
            margin-right: 10px
        .sub
          font-size: 14px
          color: #97999B
        .daysold
          font-size: 20px







section#machine-list
  width: 100%
  display: flex
  justify-content: center
  padding: 50px 0
  .section-wrapper
    width: 90%
    max-width: 1000px
    display: flex
    flex-direction: column
    align-items: flex-start
    .section-title
      width: 100%
      display: flex
      flex-direction: column
      align-items: flex-start
      padding: 15px 0
      border-bottom: 1px solid #75787B
      .main-title
        display: flex
        align-items: center
        margin-bottom: 5px
        font-size: 24px
        font-weight: bold
        img
          width: 26px
          margin-right: 10px
      .sub-title
        font-size: 12px
    .machine-list
      margin-top: 60px
      width: 100%
      display: flex
      flex-direction: column
      align-items: flex-start
      font-size: 12px
      .order-by
        width: 100%
        display: flex
        justify-content: space-between
        margin-bottom: 10px
        font-weight: bold
        .order-btn
          display: flex
          align-items: center
          flex: 1
          &:last-child
            flex: 0 0 auto
            width: 370px
            @media screen and (max-width: 1000px)
              width: 110px
          span
            margin-right: 5px
          img
            width: 13px

      .machine
        width: 100%
        display: flex
        justify-content: space-between
        // height: 60px
        padding: 15px 0
        border-bottom: 1px solid #343434
        .name
          flex: 1
          display: flex
          align-items: center
          color: #86BC25
          img
            width: 30px
            border-radius: 100%
            margin-right: 5px
        .os
          flex: 1
          display: flex
          align-items: center
          img
            width: 30px
            margin-right: 5px
        .ip
          flex: 1
          display: flex
          align-items: center
        .operations
          width: 370px
          display: flex
          align-items: center
          @media screen and (max-width: 1000px)
            flex-direction: column
            width: 110px
          .operation-btn
            width: 110px
            height: 25px
            border: 1px solid #A0A0A0
            border-radius: 3px
            display: flex
            justify-content: center
            align-items: center
            margin-right: 18px
            font-size: 11px
            cursor: pointer
            background-color: rgba(#4B4B4B, 0)
            transition: background-color 0.2s
            &:hover
              background-color: rgba(#4B4B4B, 1)
            &:last-child
              margin: 0
            @media screen and (max-width: 1000px)
              margin: 0
              margin-bottom: 10px
            img
              width: 15px
              margin-right: 5px

</style>
