<template lang="pug">
  #machines
    transition(name="fade")
      router-view(:machineList="machineList" v-on:openAnswerbox="openAnswerbox" @resetMachine="resetMachine")
    AnswerBox(v-if="isOpenAnswerbox" :type="answerType" v-on:closeAnswerbox="closeAnswerbox", :id="currentId", @resetMachine="resetMachine", @getMachineListData="getMachineListData")
</template>

<script>
import AnswerBox from '../components/AnswerBox'
import store from '../store'
import _list from '../js/data'

export default {
  components: { AnswerBox },
  name: 'Machines',
  data () {
    return {
      currentId: "",
      answerType: "",
      isOpenAnswerbox: false,
      machineList: []
    }
  },
  mounted(){
    window.app = this;
    //預設拿取初級考題
    this.getMachineListData(0, 0);
  },
  methods: {
    resetMachine(id){
      console.log(`reset machine id: ${id}`);
    },
    openAnswerbox(type, id) {
      this.answerType = type;
      this.currentId = id;
      this.isOpenAnswerbox = true;
    },
    closeAnswerbox() {
      this.isOpenAnswerbox = false;
    },
    getMachineListData(category, level){
      store.commit('setPageLoading', true);


      // console.log(_list);
      // this.machineList = _list.data;
      // return;

      let vm = this;
      $.get(`http://13.250.1.254:3100/api/machines/?category=${category}&level=${level}`).done(function(res){
        if(res.status.code == 100){
          vm.machineList = res.list;
        }
        store.commit('setPageLoading', false);
        // console.log(res);
        //資料暫存至tempData
        window.tempData = res;
      });
    }
  },
  watch:{
    '$route' (to, from) {
      if(this.$route.path=="/machines/"){
        if(this.$route.query.category<3 && this.$route.query.level<3){
          this.getMachineListData(this.$route.query.category, this.$route.query.level);
        }else{
          this.getMachineListData(0, 0);
        }
      }
    }
  }
}
</script>

<style lang="sass" scoped>
#machines
  width: 100%
</style>
