<template lang="pug">
  section#machine-list
    .section-wrapper.normal-layout(v-if="!isGridLayout")
      .section-title
        .main-title
          img(src="~@/assets/images/icon-active-machine.svg")
          span Active Machines
        .sub-title
          span Machines that are currently active and ranked. Points awarded by those machines advance members to the Hall of Fame.
        .debug-btn(@click="changeLayout")
          span Cange View
      .machine-list
        .order-by
          .order-btn(@click="orderBy('name')")
            span Name
            img(src="~@/assets/images/icon-orderby.svg")
          .order-btn(@click="orderBy('os')")
            span OS
            img(src="~@/assets/images/icon-orderby.svg")
          .order-btn(@click="orderBy('ip')")
            span IP Address
            img(src="~@/assets/images/icon-orderby.svg")
          .order-btn
            span Operation
        .machine(v-for="(machine, index) in sortedMachineList")
          .name.link(@click="openMachine(machine.id, machine.isOwnUser, machine.isOwnSystem)")
            .img(:style="{ backgroundImage: 'url(' + machine.image + ')' }")
            span {{machine.name}}
          .os
            img(src="~@/assets/images/icon-linux.svg")
            span {{machine.system}}
          .ip
            span {{machine.ip}}
          .operations
            .operation-btn(@click="resetMachine(machine.id)")
              img(src="~@/assets/images/icon-reset.svg")
              span Reset
            .operation-btn(@click="openAnswerBox('user', machine.id)", v-if="!machine.isOwnUser")
              img(src="~@/assets/images/icon-own-user.svg")
              span Own User
            .operation-btn.disable(v-if="machine.isOwnUser")
              img(src="~@/assets/images/icon-hook.svg")
              span Own User
            .operation-btn(@click="openAnswerBox('system', machine.id)", v-if="!machine.isOwnSystem")
              img(src="~@/assets/images/icon-own-system.svg")
              span Own System
            .operation-btn.disable(v-if="machine.isOwnSystem")
              img(src="~@/assets/images/icon-hook.svg")
              span Own System

    .section-wrapper.grid-layout(v-if="isGridLayout")
      .section-title
        .main-title
          img(src="~@/assets/images/icon-active-machine.svg")
          span Active Machines
        .sub-title
          span Machines that are currently active and ranked. Points awarded by those machines advance members to the Hall of Fame.
        .debug-btn(@click="changeLayout")
          span View Cange
      .machine-list
        .order-by
          .order-btn(@click="orderBy('name')")
            span Name
            img(src="~@/assets/images/icon-orderby.svg")
          .order-btn(@click="orderBy('os')")
            span OS
            img(src="~@/assets/images/icon-orderby.svg")
          .order-btn(@click="orderBy('ip')")
            span IP Address
            img(src="~@/assets/images/icon-orderby.svg")
        .machines
          .machine(v-for="(machine, index) in sortedMachineList")
            .machine-wrapper
              .tags
                .type(:class="{'b': machine.level==0, 'i': machine.level==1, 'a': machine.level==2}")
                  span(v-if="machine.level==0") B
                  span(v-if="machine.level==1") I
                  span(v-if="machine.level==2") A
                .os
                  span {{machine.system}}
              .name.link(@click="openMachine(machine.id, machine.isOwnUser, machine.isOwnSystem)")
                .img(:style="{ backgroundImage: 'url(' + machine.image + ')' }")
                span {{machine.name}}
              .ip
                span {{machine.ip}}
              .info(v-html="machine.description")
              .operations
                .operation-btn(@click="resetMachine(machine.id)")
                  img(src="~@/assets/images/icon-reset.svg")
                  span Reset
                .operation-btn(@click="openAnswerBox('user', machine.id)", v-if="!machine.isOwnUser")
                  img(src="~@/assets/images/icon-own-user.svg")
                  span Own User
                .operation-btn.disable(v-if="machine.isOwnUser")
                  img(src="~@/assets/images/icon-hook.svg")
                  span Own User
                .operation-btn(@click="openAnswerBox('system', machine.id)", v-if="!machine.isOwnSystem")
                  img(src="~@/assets/images/icon-own-system.svg")
                  span Own System
                .operation-btn.disable(v-if="machine.isOwnSystem")
                  img(src="~@/assets/images/icon-hook.svg")
                  span Own System
</template>

<script>
import { Bar } from 'vue-chartjs';

export default {
  props: ['machineList'],
  name: 'MachineList',
  data () {
    return {
      isGridLayout: true,
      orderType: "name",
      orderWay: 1
    }
  },
  methods: {
    openAnswerBox(type, id) {
      this.$emit('openAnswerbox', type, id);
    },
    changeLayout() {
      this.isGridLayout = !this.isGridLayout;
    },
    resetMachine(id){
      this.$emit('resetMachine', id);
    },
    openMachine(id, isOwnUser, isOwnSystem){
      this.$router.push({path: "/machine/?id="+id});
      // this.$router.push({path: "/machine/"+id, params: {isOwnUser: isOwnUser, isOwnSystem: isOwnSystem}});
    },
    orderBy(factor){
      if(factor == this.orderType){
        this.orderWay *= -1;
      }else{
        this.orderWay = 1;
        this.orderType = factor;
      }
      
    }
  },
  computed:{
    sortedMachineList(){
      let result = this.machineList;
      let _orderType = this.orderType;
      let _orderWay = this.orderWay;
      if(!_orderType) return result;
      result.sort(function(a, b){
        if(_orderType == "ip"){
          let _a = a[_orderType].toString().split(".").join("");
          let _b = b[_orderType].toString().split(".").join("");
          if(_a > _b) return 1*_orderWay;
          else return -1*_orderWay;
        }else{
          if(a[_orderType] > b[_orderType]) return 1*_orderWay;
          else return -1*_orderWay;
        }
      })
      return result;
    }
    
  }
}
</script>

<style lang="sass" scoped>
section#machine-list
  width: 100%
  display: flex
  justify-content: center
  padding: 50px 0
  .section-wrapper.normal-layout
    width: 90%
    max-width: 1000px
    display: flex
    flex-direction: column
    align-items: flex-start
    .section-title
      width: 100%
      display: flex
      flex-direction: column
      align-items: flex-start
      padding: 15px 0
      border-bottom: 1px solid #75787B
      .main-title
        display: flex
        align-items: center
        margin-bottom: 10px
        font-size: 24px
        font-weight: bold
        img
          width: 26px
          margin-right: 10px
      .sub-title
        font-size: 12px
    .machine-list
      margin-top: 60px
      width: 100%
      display: flex
      flex-direction: column
      align-items: flex-start
      font-size: 12px
      .order-by
        width: 100%
        display: flex
        justify-content: space-between
        margin-bottom: 10px
        font-weight: bold
        .order-btn
          display: flex
          align-items: center
          flex: 1
          cursor: pointer
          &:last-child
            flex: 0 0 auto
            width: 370px
            @media screen and (max-width: 1000px)
              width: 110px
          span
            margin-right: 5px
          img
            width: 13px

      .machine
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
        // height: 60px
        padding: 15px 0
        border-bottom: 1px solid #343434
        .name
          flex: 1
          display: flex
          align-items: center
          color: #86BC25
          cursor: pointer
          &:hover
            text-decoration: underline
          .img
            width: 30px
            height: 30px
            border-radius: 100%
            background-size: cover
            background-position: 50% 50%
            margin-right: 5px
        .os
          flex: 1
          display: flex
          align-items: center
          img
            width: 30px
            margin-right: 5px
        .ip
          flex: 1
          display: flex
          align-items: center
        .operations
          width: 370px
          display: flex
          align-items: center
          @media screen and (max-width: 1000px)
            flex-direction: column
            width: 110px
          .operation-btn
            width: 110px
            height: 25px
            border: 1px solid #A0A0A0
            border-radius: 3px
            display: flex
            justify-content: center
            align-items: center
            margin-right: 18px
            font-size: 11px
            cursor: pointer
            background-color: rgba(#4B4B4B, 0)
            transition: background-color 0.2s
            &:hover
              background-color: rgba(#4B4B4B, 1)
            &:last-child
              margin: 0
            &.disable
              border-color: #555
            @media screen and (max-width: 1000px)
              margin: 0
              margin-bottom: 10px
            img
              height: 15px
              margin-right: 5px

  .section-wrapper.grid-layout
    width: 90%
    max-width: 1000px
    display: flex
    flex-direction: column
    align-items: flex-start
    .section-title
      width: 100%
      display: flex
      flex-direction: column
      align-items: flex-start
      padding: 15px 0
      border-bottom: 1px solid #75787B
      .main-title
        display: flex
        align-items: center
        margin-bottom: 10px
        font-size: 24px
        font-weight: bold
        img
          width: 26px
          margin-right: 10px
      .sub-title
        font-size: 12px
    .machine-list
      margin-top: 60px
      width: 100%
      display: flex
      flex-direction: column
      align-items: flex-start
      font-size: 12px
      .order-by
        width: 100%
        display: flex
        justify-content: flex-end
        margin-bottom: 10px
        font-weight: bold
        .order-btn
          display: flex
          align-items: center
          flex: 0 0 auto
          margin-right: 20px
          width: auto
          cursor: pointer
          &:last-child
            margin: 0
          span
            margin-right: 5px
          img
            width: 13px
      .machines
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        .machine
          width: 25%
          display: flex
          flex-direction: column
          padding: 10px
          @media screen and (max-width: 1100px)
            width: 50%
          .machine-wrapper
            width: 100%
            background-color: #353535
            padding: 10px
            display: flex
            flex-direction: column
            align-items: flex-start
            border-radius: 3px
            
            .name
              display: flex
              flex-direction: column
              align-items: flex-start
              color: #86BC25
              cursor: pointer
              margin-bottom: 10px
              font-size: 16px
              width: 100%
              span
                width: 100%
                overflow: auto
                height: 40px
                margin-top: 10px
              &:hover
                text-decoration: underline
              .img
                width: 40px
                height: 40px
                border-radius: 100%
                background-size: cover
                background-position: 50% 50%
                margin-bottom: 10px
            .tags
              position: absolute
              top: 10px
              right: 10px
              display: flex
              .type
                width: 25px
                height: 25px
                border-radius: 100%
                font-size: 10px
                display: flex
                align-items: center
                justify-content: center
                margin-right: 5px
                &.b
                  background-color: #86BC25
                &.i
                  background-color: #B48C14
                &.a
                  background-color: #722501
              .os
                height: 25px
                padding: 0 10px
                background-color: #4B4B4B
                border-radius: 100px
                font-size: 10px
                display: flex
                align-items: center
                justify-content: center
                
            .os
              flex: 1
              display: flex
              align-items: center
              img
                width: 30px
                margin-right: 5px
            .ip
              flex: 1
              display: flex
              align-items: center
              justify-content: center
              width: 100%
              padding: 10px 0
              background-color: #262626
              font-size: 16px
              margin-bottom: 10px
            .info
              height: 150px
              overflow-y: scroll
              margin-bottom: 10px
              color: #EAE8E9
              font-size: 10px
              width: 100%
              word-wrap: break-word
              // text-align: justify
            .operations
              // width: 370px
              width: 100%
              display: flex
              flex-direction: column
              .operation-btn
                width: 100%
                height: 25px
                border: 1px solid #A0A0A0
                border-radius: 3px
                display: flex
                justify-content: center
                align-items: center
                margin-bottom: 10px
                font-size: 11px
                cursor: pointer
                background-color: rgba(#4B4B4B, 0)
                transition: background-color 0.2s
                &:hover
                  background-color: rgba(#4B4B4B, 1)
                &:last-child
                  margin: 0
                img
                  height: 15px
                  margin-right: 5px
.debug-btn
  // position: fixed
  // bottom: 20px
  // right: 20px
  margin-top: 10px
  padding: 5px 10px
  background-color: #000
  border: 1px solid #fff
  cursor: pointer
  font-size: 12px
  &:hover
    background-color: #333

</style>
