<template lang="pug">
  section#profile
    .section-wrapper
      .title
        .left
          .title-img(:style="{ backgroundImage: 'url(' + user.avatarUrl + ')' }")
        .right
          .main-title
            span {{user.username}}
          .property
            .point
              img(src="~@/assets/images/icon-point.svg")
              span {{user.points}}
            .system-own-count
              img(src="~@/assets/images/icon-own-system-color.svg")
              span {{user.ownSystems}}
            .user-own-count
              img(src="~@/assets/images/icon-own-user-color.svg")
              span {{user.ownUsers}}
          //- .property
          //-   .level
          //-     img(src="~@/assets/images/icon-level.svg")
          //-     span {{user.level}}
          //- p {{user.points}}
          //- .difficulty-bar
          //-   .difficulty-bar-fill(:style="{'width': '100%'}")
          //-   .difficulty-text
          //-     span {{user.points}}% towards Script Kiddie 
      .stat-row
        .group
          .box
            .main
              img(src="~@/assets/images/icon-point.svg")
              span {{user.points}}
            .sub
              span Base Points
          .box
            .main
              img(src="~@/assets/images/icon-own-system-color.svg")
              span {{user.ownSystems}}
            .sub
              span System Owns
        .group
          .box
            .main
              img(src="~@/assets/images/icon-own-user-color.svg")
              span {{user.ownUsers}}
            .sub
              span User Owns
          .box
            .main
              img(src="~@/assets/images/icon-days.svg")
              span.daysold {{  user.createTime - Date.now() | duration('humanize')}}
            .sub
              span Days Old
      .bottom
        .challenges
          .title
            .left
              img(src="~@/assets/images/icon-challenges.svg")
            .right
              .main-title
                span Challenges
              .sub-title
                span {{user.username}} has solved {{user.solvedCount}} challenges
          .table
            .col
              .row.head
                span Category
              .row
                span Red Team Operation
              .row
                span Incident Response
              .row
                span Defensive Operations
            .col
              .row.head
                span Completion
                //- img(src="~@/assets/images/icon-completion.svg")
              .row(v-for="c in user.challenges")
                .completion-bar
                  .completion-bar-fill(:style="{'width': + Math.min(c.completion*10, 100) + '%'}")
        .feeds
          .feed(v-for="feed in user.events")
            .pic(:style="{ backgroundImage: 'url(' + feed.icon + ')' }")
            .info
              p {{user.username}} owned {{feed.ownType == 0 ? "User" : "System"}}
              p 
                span.green-text {{feed.machineName}} 
                span.blue-text [+{{feed.points}}]
            .time
              span {{feed.time - Date.now() | duration('humanize') }} ago
</template>

<script>
import store from '../store'
export default {
  // props: ['id','machineList'],
  name: 'Profile',
  data () {
    return {
      user: {
        challenges: [
          {
              "name": 0,
              "completion": 0.1
          },
          {
              "name": 1,
              "completion": 0.2
          },
          {
              "name": 2,
              "completion": 0.3
          }
      ]
      }
    }
  },
  computed: {
  },
  methods: {
  },
  mounted(){
    store.commit('setPageLoading', true);
    let vm = this;
    $.get("http://13.250.1.254:3100/api/profile/").done(function(res){
      // console.log(res);
      if(res.status.code == 100 || res.status.code == 101){
        vm.user = res;
        //vm.user.solvedCount = vm.user.challenges[0].completion + vm.user.challenges[1].completion + vm.user.challenges[2].completion;
      }
      store.commit('setPageLoading', false);
    });
  }
}
</script>

<style lang="sass" scoped>
section#profile
  width: 100%
  display: flex
  justify-content: center
  padding: 50px 0
  .section-wrapper
    width: 90%
    max-width: 1000px
    display: flex
    flex-direction: column
    align-items: flex-start
    .title
      width: 100%
      display: flex
      flex-direction: row
      padding-bottom: 25px
      border-bottom: 1px solid #75787B
      .left
        display: flex
        align-items: center
        justify-content: center
        margin-right: 30px
        .title-img
          width: 80px
          height: 80px
          border-radius: 100%
          background-size: cover
          background-position: 50% 50%
      .right
        flex: 1
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center
        .main-title
          font-size: 24px
          font-weight: bold
          margin-bottom: 15px
        .property
          display: flex
          align-items: center
          font-size: 12px
          margin-bottom: 13px
          .point,.system-own-count,.user-own-count,.level
            display: flex
            align-items: center
            margin-right: 15px
            img
              width: 15px
              margin-right: 5px

        .difficulty-bar
          width: 100%
          // max-width: 475px
          height: 22px
          background-color: #2A2A2A
          .difficulty-bar-fill
            height: 100%
            background-color: #84BA24
          .difficulty-text
            position: absolute
            top: 50%
            right: 10px
            color: #75787B
            font-size: 12px
            transform: translateY(-50%)
    .stat-row
      width: 100%
      margin-top: 50px
      margin-bottom: 20px
      display: flex
      flex-wrap: wrap
      .group
        flex: 1
        display: flex
        @media screen and (max-width: 1000px)
          flex: 0 0 auto
          width: 100%
          margin-right: 0
        &:last-child
          margin: 0
      .box
        flex: 1
        height: 120px
        background-color: #343434
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        &:last-child
          margin: 0
        .main
          font-size: 36px
          font-weight: bold
          display: flex
          justify-content: center
          align-items: center
          margin-bottom: 10px
          img
            height: 30px
            margin-right: 10px
        .sub
          font-size: 14px
          color: #97999B
        .daysold
          font-size: 20px
    .bottom
      width: 100%
      display: flex
      @media screen and (max-width: 1000px)
        flex-direction: column

      .challenges
        // width: 500px
        height: 500px
        margin-right: 20px
        background-color: #343434
        padding: 40px
        flex: 1 1 500px
        @media screen and (max-width: 1000px)
          margin-right: 0
          flex: 1
          height: auto

        .title
          width: 100%
          display: flex
          flex-direction: row
          padding-bottom: 25px
          border-bottom: 1px solid rgba(#979797,0.23)
          .left
            display: flex
            align-items: center
            justify-content: center
            margin-right: 15px
            img
              width: 40px
          .right
            flex: 1
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: center
            .main-title
              font-size: 24px
              font-weight: bold
              margin-bottom: 10px
            .sub-title
              font-size: 14px
        .table
          width: 100%
          display: flex
          margin-top: 20px
          .col
            display: flex
            flex-direction: column
            &:last-child
              flex: 1
              .row
                padding-left: 20px
            .row
              width: 100%
              display: flex
              align-items: center
              height: 40px
              font-size: 14px
              border-bottom: 1px solid rgba(#979797,0.23)
            .head
              font-size: 16px
              font-weight: bold
              img
                margin-left: 5px   
          .completion-bar
            width: 100%
            height: 10px
            background-color: #2A2A2A
            .completion-bar-fill
              height: 100%
              background-color: #84BA24
      .feeds
        flex: 1 0 350px
        display: flex
        flex-direction: column
        align-items: flex-end
        padding-top: 50px
        .feed
          width: calc(100% - 40px)
          background-color: #343434
          margin-bottom: 20px
          display: flex
          align-items: center
          padding: 15px
          &::before
            content: ""
            display: block
            width: 10px
            height: 10px
            border-radius: 100%
            background-color: #75787B
            position: absolute
            top: 50%
            left: -30px
            transform: translate(-50%, -50%)
          &::after
            content: ""
            display: block
            width: 2px
            height: calc(100% + 20px)
            background-color: #75787B
            position: absolute
            top: 50%
            left: -30px
            transform: translate(-50%, -50%)
          &:first-child
            &::after
              content: ""
              display: block
              width: 2px
              height: calc(50% + 10px)
              background-color: #75787B
              position: absolute
              top: 50%
              left: -30px
              transform: translate(-50%, 0%)
          &:last-child
            &::after
              content: ""
              display: block
              width: 2px
              height: calc(50% + 10px)
              background-color: #75787B
              position: absolute
              top: 50%
              left: -30px
              transform: translate(-50%, -100%)
          .pic
            width: 30px
            height: 30px
            border-radius: 100%
            background-size: cover
            background-position: 50% 50%
            margin-right: 15px
            flex: 0 0 auto
          .info
            flex: 1
            font-size: 14px
            overflow: auto
            p
              margin: 0
          .time
            font-size: 12px
            color: #97999B


</style>
