<template lang="pug">
  section#setting
    .section-wrapper
      .section-title
        .main-title
          img(src="~@/assets/images/icon-setting.svg")
          span Settings
        .sub-title
          span Change settings and profile details
      .settings
        .left
          //- .profile-public
          //-   input#profile-public(type="checkbox" v-model="setting.isProfilePublic")
          //-   label(for="profile-public") Make my profile public.
          //- p Public Profile URL: disabled
          .email-notice
            input#email-notice(type="checkbox" v-model="setting.emailNotify")
            label(for="email-notice") Email Notifications
          //- .user-pic(:style="{ backgroundImage: 'url(' + setting.avatarIcon + ')' }")
          p Avatar (1:1 min 300x300 max 1000x1000)
          .choose-pic-group
            label.choose-pic-label(for="myFiles") choose picture
          p {{fileName}}
          .title-img(:style="{ backgroundImage: 'url(' + file + ')' }")
          input.choose-pic-btn(type="file", id="myFiles",ref="myFiles", @change="previewFiles", placeholder="choose picture", accept=".png, .jpg, .jpeg")
          .save-btn(@click="submitSetting")
            span Save
        .right
          p Username (3 of 3 changes left)
          input(placeholder="name" v-model="setting.username")
          p E-mail
          p.email-field {{setting.email}}
          p Country
          input(placeholder="Write down your country" v-model="setting.country")
          //- p Timezone
          //- input(placeholder="UTC" v-model="setting.timezone")
          p Password
          input(type="password" placeholder="∙∙∙∙∙∙∙∙∙∙∙∙∙∙" v-model="setting.password")
          p Confirm password
          input(type="password" placeholder="∙∙∙∙∙∙∙∙∙∙∙∙∙∙" v-model="setting.passwordConfirm")
 
</template>

<script>
// import HelloWorld from '@/components/HelloWorld.vue'
import store from '../store'
export default {
  name: 'setting',
  data () {
    return {
      setting: {},
      oldSetting: {},
      file: "",
      fileName: ""
    }
  },
  mounted(){

    store.commit('setPageLoading', true);
    let vm = this;
    $.get("http://13.250.1.254:3100/api/usersetting").done(function(res){
      if(res.status.code == 100 || res.status.code == 101){
        vm.setting = res.usersetting;
        vm.oldSetting = res.usersetting;
      }
      store.commit('setPageLoading', false);
      console.log(res.usersetting);
    });
    console.log("Enter Mounted Setting");
  },
  methods:{
    submitSetting(){
      // console.log("submit");
      // if(this.setting == this.oldSetting){
      //   console.log("Same Data");
      //   return;
      // }

      if(this.setting.password == this.setting.passwordConfirm){
        let formData = new FormData();
        if(this.username) formData.append("userName", this.username);
        if(this.file) formData.append("avatarData", this.file);
        if(this.setting.country) formData.append("country", this.setting.country);
        if(this.setting.password) formData.append("password", this.setting.password);
        formData.append("emailNotify", this.setting.emailNotify);
        let vm = this;
        store.commit('setPageLoading', true);
        
        console.log(formData);
        for (let pair of formData.entries()) {
            console.log(pair[0]+ ', ' + pair[1]); 
        }

        $.ajax('http://13.250.1.254:3100/api/usersetting/', {
          type: 'POST',
          enctype: 'multipart/form-data',
          // enctype: 'application/json',
          processData: false,
          contentType: false,
          cache: false,
          data: formData
        }).done(function(res){          
          // console.log(res);
          if(res.status.code == 100){
            vm.$swal(`Good`, `Your setting updated.`, `success` );
          }else{
            vm.$swal(`Sorry`, `Something went wrong.`, `error` );
          }
          store.commit('setPageLoading', false);
          $.get("http://13.250.1.254:3100/api/usersetting").done(function(res){
            if(res.status.code == 100 || res.status.code == 101){
              vm.setting = res.usersetting;
            }
            // console.log(res);
          });
          
        });
      }else{
        vm.$swal(`Sorry`, `Please re-check the fields.`, `error` );
      }
    },
    previewFiles(){
      this.file = this.$refs.myFiles.files[0];
      // console.log(this.file);
      if(this.file.type.split('/')[0] != "image"){
        this.$swal(`Sorry`, `Please select .jpg .jpeg .png file.`, `error` );
        this.file = "";
      }else{
        this.fileName = this.file.name;
      }
    }
  }
}
</script>

<style lang="sass">
section#setting
  width: 100%
  display: flex
  justify-content: center
  padding: 50px 0
  .section-wrapper
    width: 90%
    max-width: 1000px
    display: flex
    flex-direction: column
    align-items: flex-start
    .section-title
      width: 100%
      display: flex
      flex-direction: column
      align-items: flex-start
      padding: 15px 0
      border-bottom: 1px solid #75787B
      .main-title
        display: flex
        align-items: center
        margin-bottom: 10px
        font-size: 24px
        font-weight: bold
        img
          width: 26px
          margin-right: 10px
      .sub-title
        font-size: 12px
    .settings
      width: 100%
      display: flex
      margin-top: 40px
      color: #E8EAE9
      .user-pic
        width: 80px
        height: 80px
        border-radius: 100%
        background-color: transparent
        background-size: cover
        background-position: 50% 50%
        border: 1px white solid
        margin-top: 10px
      .left
        font-size: 14px
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-right: 100px
        .profile-public, .email-notice
          display: flex
          align-items: center

          input
            width: 20px
            height: 20px
          input,label
            cursor: pointer
        .choose-pic-group
          display: flex
          justify-content: start
          align-items: center
        .email-notice
          // margin-top: 30px
        .choose-pic-label
          color: #FFF
          // background-color: white
          padding: 6px 40px
          border-radius: 5px
          border: 1px solid #75787B
          margin-right: 10px
          margin-top: 20px
        .choose-pic-btn
          display: none
        .save-btn
          margin-top: 50px
          border: 1px solid #75787B
          border-radius: 4px
          display: flex
          padding: 10px 30px
          cursor: pointer
          background-color: rgba(#4B4B4B, 0)
          transition: background-color 0.2s
          &:hover
            background-color: rgba(#4B4B4B, 1)
      .right
        flex: 1
        p
          margin: 0
          margin-bottom: 10px
        input, .email-field
          width: 100%
          max-width: 420px
          height: 50px
          border: 1px solid #4E4E4E
          background-color: #222
          // text-align: center
          padding: 16px 20px
          font-size: 16px
          color: #fff
          margin-bottom: 20px
          &::placeholder
            font-size: 16px
            color: #75787B
        .email-field
          border: 1px solid #4E4E4E
          background-color: #343434
      @media screen and (max-width: 1000px)
        flex-direction: column
        .left
          margin-right: 0
          margin-bottom: 50px
</style>