<template lang="pug">
  section#signup
    header
      .logo
        img(src="~@/assets/images/deloitte.svg")
    .section-wrapper
      SignUpModel
    
</template>

<script>
import SignUpModel from '../components/SignUpModel'

export default {
  name: 'SignUP',
  data(){
    return{

    }
  },
  components: { SignUpModel },
}
</script>


<style lang="sass" scoped>
section#signup
  width: 100%
  height: 100%
  overflow: hidden
  background-color: #fff
  background-image: url("~@/assets/images/bg-sample.jpg")
  background-size: cover
  background-position: 50% 50%
  header
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 60px
    background-color: #2A2A2A
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    z-index: 100
    .logo
      width: 200px
      height: 100%
      flex: 0 0 auto
      display: flex
      align-items: center
      padding: 0 20px
      img
        height: 20px
  .section-wrapper
    width: 100%
    height: calc(100% - 60px)
    margin-top: 60px
    background-color: rgba(0,0,0,0.3)
    display: flex
    align-items: center
    justify-content: center

</style>
