<template lang="pug">
  .user
    p User
</template>

<script>
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'user',
  components: {
    // HelloWorld
  }
}
</script>
