<template lang="pug">
  section#vpn-access
    .section-wrapper
      .section-title
        .main-title
          img(src="~@/assets/images/icon-vpn-access.svg")
          span Access
        .sub-title
          span Lab Access details
      .content
        .left
          .details
            p HTB Lab Access Details
            p Server	{{access.server}}
            p Port	{{access.port}}
            p Server status	
            p {{access.isConnected?"Connected":"Disconnected"}}
            p HTB Network IPv4	{{access.ipv4}}
            p HTB Network IPv6	{{access.ipv6}}
            .traffic
              span Traffic
              .btn
                span upload
              span {{access.traffic.upload}}
              .btn
                span download
              span {{access.traffic.download}}
          .btns
            .btn
              span Connection Pack
            .btn
              span Regener
        .right
          .speed-box
            .title(@click="addData()")
              span Update Speed
            .graph
              #upload-graph
                SpeedChart(:dataArray="speedChart.upload" :rgb="{r:132,g:168,b:36}")
              .speed-text
                span {{speedChart.upload[speedChart.upload.length-1]}} MB/s
          .speed-box
            .title
              span Download Speed
            .graph
              #upload-graph
                SpeedChart(:dataArray="speedChart.download" :rgb="{r:118,g:95,b:27}")
              .speed-text
                span {{speedChart.download[speedChart.download.length-1]}} MB/s
 
</template>

<script>
import SpeedChart from '../components/SpeedChart'

export default {
  components: { SpeedChart },
  name: 'vpn',
  data () {
    return {
      isInit: false,
      datacollection: null,
      access: {
        server: "edge-us-free-1.hackthebox.eu",
        port: "1337",
        isConnected: true,
        ipv4: "0.0.0.0",
        ipv6: "0::",
        traffic: {
          upload: "0B MB", 
          download: "0B MB"
        },
      },
      speedChart: {
        upload: [],
        download: []
      },
      addDataCounter: null
    }
  },

  //add speed data for test
  mounted () {
    this.addData(this.speedChart.upload);
    this.addData(this.speedChart.download);

    this.addDataCounter = setInterval(() => {
      this.addData(this.speedChart.upload);
      this.addData(this.speedChart.download);
    }, 500);
  },
  destroyed() {
    clearInterval(this.addDataCounter);
  },
  methods: {
    addData(array) {
      var newData = this.getRandomInt();
      if(array.length == 0) {
        for (let i = 0; i < 20; i++) {
          array.push(newData);
        }
      }
      else {
        array.shift();
        array.push(newData);
      }
    },
    getRandomInt () {
      return Math.floor(Math.random() * 20) + 50
    },
  },
}
</script>

<style lang="sass">
section#vpn-access
  width: 100%
  display: flex
  justify-content: center
  padding: 50px 0
  .section-wrapper
    width: 90%
    max-width: 1000px
    display: flex
    flex-direction: column
    align-items: flex-start
    .section-title
      width: 100%
      display: flex
      flex-direction: column
      align-items: flex-start
      padding: 15px 0
      border-bottom: 1px solid #75787B
      .main-title
        display: flex
        align-items: center
        margin-bottom: 10px
        font-size: 24px
        font-weight: bold
        img
          width: 26px
          margin-right: 10px
      .sub-title
        font-size: 12px
    .content
      width: 100%
      display: flex
      margin-top: 40px
      color: #E8EAE9
      .left
        font-size: 14px
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-right: 100px
        .details
          color: #E8EAE9
          font-size: 16px
          .traffic
            width: 100%
            display: flex
            align-items: center
            .btn
              width: 100px
              height: 20px
              display: flex
              justify-content: center
              align-items: center
              border: 1px solid #75787B
              border-radius: 4px
              font-size: 12px
              color: #FFFFFF
              margin-left: 20px
              margin-right: 10px
              cursor: pointer
              background-color: rgba(#4B4B4B, 0)
              transition: background-color 0.2s
              &:hover
                background-color: rgba(#4B4B4B, 1)
        .btns
          width: 100%
          margin-top: 50px
          display: flex
          // justify-content: space-between
          .btn
            width: 180px
            height: 33px
            margin-right: 30px
            background-color: #86BC25
            font-size: 12px
            font-weight: bold
            display: flex
            justify-content: center
            align-items: center
            cursor: pointer
            transition: background-color 0.2s
            &:hover
              background-color: lighten(#86BC25,10)
      .right
        flex: 1
        .speed-box
          width: 100%
          display: flex
          flex-direction: column
          margin-bottom: 30px
          .title
            font-size: 16px
            color: #97999B
            margin-bottom: 10px
          .graph
            display: flex
            align-items: flex-start
            #upload-graph
              flex: 1
              img,canvas
                width: 100% !important
            .speed-text
              font-size: 12px
              margin-left: 10px
              margin-top: 10px
      @media screen and (max-width: 1000px)
        flex-direction: column
        .left
          margin-right: 0
          margin-bottom: 50px
</style>