<template lang="pug">
  header
    router-link.logo.link(to="/", tag="div")
      img(src="~@/assets/images/deloitte.svg")
    .menu-opener
    .user(@click="openUserBox")
      .user-name
        span {{user.username}}
      .user-pic(:style="{ backgroundImage: 'url(' + user.avatarIcon + ')' }")
</template>

<script>

export default {
  name: 'Header',
  props: ['user', 'isOpenUserBox'],
  data () {
    return {
    }
  },
  methods: {
    openUserBox() {
      this.$emit('openUserBox')
    }
  },
  computed: {
  }
}
</script>

<style lang="sass" scoped>
header
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 60px
  background-color: #353535
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  z-index: 100
  .logo
    width: 200px
    height: 100%
    background-color: #242424
    flex: 0 0 auto
    display: flex
    align-items: center
    padding: 0 20px
    transition: background-color 0.2s
    cursor: pointer
    &:hover
      background-color: #2A2A2A
    img
      height: 20px
  .menu-opener
    width: 30px
    height: 30px
  .user
    height: 100%
    display: flex
    align-items: center
    cursor: pointer
    background-color: rgba(#4B4B4B, 0)
    transition: background-color 0.2s
    padding: 0 20px
    &:hover
      background-color: rgba(#4B4B4B, 1)
    .user-name
      padding-right: 15px
    .user-pic
      width: 40px
      height: 40px
      border-radius: 100%
      background-color: #fff
      background-size: cover
      background-position: 50% 50%
</style>
