<template lang="pug">
  #log-in
    .title
      span Log-in to Deloitte Cyberlab Website
    .step(v-show="step==0", @keydown.enter="nextStep")
      input(placeholder="Email" v-model="LoginData.account")
      img.nextStep(src="~@/assets/images/next.svg", @click="nextStep", v-show="LoginData.account.length !=0")
    .step(v-show="step==1", @keydown.enter="login")
      input(type="password" placeholder="Password" v-model="LoginData.password" ref="pwd")
      img.nextStep(src="~@/assets/images/next.svg", @click="login", v-show="LoginData.password.length !=0")
    router-link.sign-up-btn.link(to="/signup", tag="div")
      span Sign up
    //- .sign-up-btn.link(@click="login")
    //-   span Login
        
</template>
<script>
import axios from 'axios'
import store from '../store'
import md5 from 'js-md5';

export default {
  // props: ['user'],
  name: "LoginModel",
  data() {
    return {
      step: 0,
      LoginData: {
        account: "",
        password: "",
        timestamp: "",
        hash: ""
      }
    };
  },
  mounted(){
    store.commit('setPageLoading', false);
    $.ajaxSetup({
      headers : {
        // 'Content-Type' : 'application/x-www-form-urlencoded; charset=UTF-8'
      },
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Authorization", document.cookie);
      }
    });
  },
  methods: {
    nextStep(){
      if(this.step == 0){
        this.step = 1;
        // console.log(this.$refs);
        this.$nextTick(() => this.$refs.pwd.focus());
      }
    },
    login() {
      store.commit('setPageLoading', true);
      let _time = new Date().getTime();
      
      let _loginData = {};
      _loginData.timestamp = btoa(_time);
      _loginData.account = btoa(this.LoginData.account);
      _loginData.hash = md5(this.LoginData.password+_time);
      // console.log(_loginData);

      let vm = this;
      $.post("http://13.250.1.254:3100/api/login", _loginData).done(function(res){
        if(res.status.code == 100 || res.status.code == 101){
          vm.$router.push("/machines");
          console.log("login successed");
          vm.$swal(`Success`, `Login successed`, `success` );
          $.get("http://13.250.1.254:3100/api/usersetting").done(function(res){
            if(res.status.code == 100 || res.status.code == 101){
              // console.log(res);
              store.commit('updateUserInfo', res.usersetting);
            }
          });
        }else{
          vm.$swal(`Failed`, res.status.description, `error` );
          vm.LoginData.account = '';
          vm.LoginData.password = '';
          vm.step = 0;
        }
        store.commit('setPageLoading', false);
        // console.log(res);
      });
    
    }
  }
};
</script>

<style lang="sass" scoped>
#log-in
  width: 520px
  background-color: #E8EAE9
  padding: 30px 50px
  display: flex
  flex-direction: column
  align-items: center
  .title
    font-size: 24px
    font-weight: bold
    color: #2A2A2A
    width: 100%
    text-align: center
    margin-bottom: 10px
  .step
    width: 100%
    .nextStep
      position: absolute
      right: 10px
      top: 50%
      transform: translateY(-50%)
  input
    width: 100%
    height: 50px
    border: 1px solid #979797
    margin: 10px 0
    padding: 0 20px
    font-size: 16px
    color: #2A2A2A
    &::placeholder
      font-size: 16px
      color: #75787B
  .warning
    width: 100%
    text-align: center
    font-size: 12px
    color: #2A2A2A
    margin-bottom: 10px
    p 
      a
        color: #86BC25
        text-decoration: none
        cursor: pointer
        &:hover
          text-decoration: underline
  .sign-up-btn
    width: 100%
    text-align: right
    color: #0076A8
    cursor: pointer

</style>