<template lang="pug">
  #menu
    .server
      span Server
      span.green-text {{user.server}}
    .access
      .title
        img(src="~@/assets/images/icon-access.svg")
        span Access
      .access-list
        .list-btn(:class="{'open': nowOpen==0 }")
          .title.link(@click="openSubList(0, 0)")
            span Red Team Operation
          .content
            .secondary-btn(@click="openSubList(0, 0)", :class="{'active': currentCategory==0 && currentLevel==0}")
              .dot(style="background-color: #86BC25")
              span Beginner
            .secondary-btn(@click="openSubList(0, 1)", :class="{'active': currentCategory==0 && currentLevel==1}")
              .dot(style="background-color: #B48C14")
              span Intermediate
            .secondary-btn(@click="openSubList(0, 2)", :class="{'active': currentCategory==0 && currentLevel==2}")
              .dot(style="background-color: #722501")
              span Advanced
        .list-btn(:class="{'open': nowOpen==1 }")
          .title.link(@click="openSubList(1, 0)")
            span Incident Response
          .content
            .secondary-btn(@click="openSubList(1, 0)", :class="{'active': currentCategory==1 && currentLevel==0}")
              .dot(style="background-color: #86BC25")
              span Beginner
            .secondary-btn(@click="openSubList(1, 1)", :class="{'active': currentCategory==1 && currentLevel==1}")
              .dot(style="background-color: #B48C14")
              span Intermediate
            .secondary-btn(@click="openSubList(1, 2)", :class="{'active': currentCategory==1 && currentLevel==2}")
              .dot(style="background-color: #722501")
              span Advanced
        .list-btn(:class="{'open': nowOpen==2 }")
          .title.link(@click="openSubList(2, 0)")
            span Defensive Operations
          .content
            .secondary-btn(@click="openSubList(2, 0)", :class="{'active': currentCategory==2 && currentLevel==0}")
              .dot(style="background-color: #86BC25")
              span Beginner
            .secondary-btn(@click="openSubList(2, 1)", :class="{'active': currentCategory==2 && currentLevel==1}")
              .dot(style="background-color: #B48C14")
              span Intermediate
            .secondary-btn(@click="openSubList(2, 2)", :class="{'active': currentCategory==2 && currentLevel==2}")
              .dot(style="background-color: #722501")
              span Advanced

    .account
      .title
        img(src="~@/assets/images/icon-own-user.svg")
        span Account
      .account-list
        router-link.list-btn.link(to="/profile/", tag="div")
          .title
            span Account Profile
        router-link.list-btn.link(to="/setting/", tag="div")
          .title
            span Account Setting
        router-link.list-btn.link(to="/vpn/", tag="div")
          .title
            span VPN Connect Access
</template>

<script>
import { parse } from 'path';
export default {
  name: 'Menu',
  props: ['user'],
  data () {
    return {
      nowOpen: 0,
      currentCategory: 0,
      currentLevel: 0
    }
  },
  methods: {
    openSubList(category, level){
      this.nowOpen = category;
      let targetUrl = `/machines/?category=${category}&level=${level}`;
      if(this.$route.fullPath != targetUrl){
        this.$router.push(targetUrl);
      }
    }
  },
  watch:{
    $route(){
      // console.log("切換");
      if(this.$route.path=="/machines/"){
        this.currentCategory = parseInt(this.$route.query.category);
        this.currentLevel = parseInt(this.$route.query.level);
        // console.log(this.currentCategory, this.currentLevel);
        
        // let vm = this;
        // $.get("http://13.250.1.254:3100/api/usersetting").done(function(res){
        //   if(res.status.code == 100 || res.status.code == 101){
        //   }else{
        //     if(vm.$route.name != "login"){
        //       vm.$swal(`Failed`, "Please login first", `error` );
        //       vm.$router.push({name: "login"});
        //     }
        //   }
        // });
      }
    }
  }
}
</script>

<style lang="sass" scoped>

#menu
  width: 200px
  height: calc(100% - 60px)
  overflow-y: scroll
  background-color: #353535
  position: fixed
  top: 60px
  left: 0
  display: flex
  flex-direction: column
  align-items: flex-start
  font-size: 14px
  .server
    margin-top: 50px
    padding: 0 20px
    margin-bottom: 60px
    span
      margin-right: 10px
    span:first-child
      color: #97999B
  .access,.account
    width: 100%
    margin-bottom: 50px
    >.title
      display: flex
      align-items: center
      margin-bottom: 10px
      padding: 0 10px
      font-size: 18px
      font-weight: bold
      img
        width: 18px
        margin-right: 5px
      span
    .access-list,.account-list
      width: 100%
      display: flex
      flex-direction: column
      align-items: flex-start
      color: #E8EAE9
      .list-btn
        width: 100%
        // border: 1px solid #fff
        display: flex
        flex-direction: column
        align-items: flex-start
        .title
          width: 100%
          height: 40px
          padding-left: 30px
          display: flex
          align-items: center
          cursor: pointer
          background-color: rgba(#4B4B4B, 0)
          transition: background-color 0.2s
          &:hover, &.active
            background-color: rgba(#4B4B4B, 1)
        &.open
          .content
            height: 120px
        .content
          width: 100%
          display: flex
          flex-direction: column
          align-items: flex-start
          overflow: hidden
          height: 0
          transition: height 0.3s
          .secondary-btn
            width: 100%
            height: 40px
            display: flex
            align-items: center
            padding-left: 30px
            cursor: pointer
            background-color: rgba(#4B4B4B, 0)
            transition: background-color 0.2s
            flex: 0 0 auto
            font-size: 13px
            &:hover, &.active
              background-color: rgba(#4B4B4B, 1)
            .dot
              width: 5px
              height: 5px
              border-radius: 100%
              margin-right: 10px
            span
    .access-list
      .list-btn>.title span
        &::before
          content: "▼"
          position: absolute
          top: 50%
          left: -13px
          transform: translateY(-50%)
          font-size: 8px


header
  position: fixed
  width: 100%
  height: 60px
  background-color: #353535
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding: 10px
  .menu-btn
    background-color: #fff
    width: 30px
    height: 30px
  .user
    height: 100%
    display: flex
    align-items: center
    .user-name
      padding-right: 15px
    .user-pic
      width: 30px
      height: 30px
      border-radius: 100%
      background-color: #fff
</style>
