<template lang="pug">
  #msg-window.lightbox
    .lightbox-container
      .title
        .main-title
          span(v-if="type == 'user'") Own User
          span(v-if="type == 'system'") Own System
        .sub-title
          span Type below the hash that is inside the user.txt file in the machine. The file can be found under /home/{username} on Linux machines and at the Desktop of the user on Windows. 
        .warning
          span Warning: Based on our rules and ToS, you are not allowed to post any writeups or solutions for this machine until it is retired.
      .btns
        .close-btn(@click="close")
          span ✕
        .save-btn(@click="save")
          span save
        
</template>

<script>
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/antd.css'

export default {
  components: { VueSlider },
  props: ['type', 'id'],
  name: 'AnswerBox',
  data () {
    return {
      text: ""
    }
  },
  methods: {
    close() {
      this.$emit('closeAnswerbox');
    }
  },
  mounted() {
    
  },
}
</script>

<style lang="sass" scoped>
.lightbox
  width: 100vw
  height: 100vh
  z-index: 500
  position: fixed
  top: 0
  left: 0
  background-color: rgba(#000,0.76)
  display: flex
  justify-content: center
  align-items: center
  .lightbox-container
    width: 600px
    // height: 520px
    background-color: #1A1A1A
    padding: 50px
    padding-bottom: 35px
    .title
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
      padding-bottom: 25px
      margin-bottom: 25px
      border-bottom: 1px solid #343434
      text-align: center
      .main-title
        font-size: 24px
        font-weight: bold
        margin-bottom: 25px
      .sub-title
        color: #75787B
        font-size: 12px
        margin-bottom: 25px
      .warning
        color: #75787B
        font-size: 12px
    input.answer
      width: 100%
      height: 50px
      border: 0
      border-radius: 6px
      background-color: #262626
      text-align: center
      font-size: 16px
      color: #fff
      margin-bottom: 25px
      &::placeholder
        font-size: 16px
        font-weight: bold
        font-style: oblique
        color: #75787B
    .difficulty
      width: 100%
      display: flex
      flex-direction: column
      align-items: flex-start
      padding-bottom: 25px
      border-bottom: 1px solid #343434
      .info
        font-size: 13px
        color: #75787B
        margin-bottom: 50px
      .slider
        width: 100%
        // height: 50px
    .btns
      width: 100%
      display: flex
      justify-content: flex-end
      margin-top: 25px
      .close-btn,.save-btn
        border: 1px solid #75787B
        border-radius: 5px
        height: 35px
        padding: 0 11px
        display: flex
        justify-content: center
        align-items: center
        font-size: 16px
        cursor: pointer
        background-color: rgba(#4B4B4B, 0)
        transition: background-color 0.2s
        &:hover
          background-color: rgba(#4B4B4B, 1)
      .close-btn
        margin-right: 5px

</style>


<style>
/* slider style */

/* rail style */
.vue-slider-rail {
  background-color: #2A2A2A;
  border-radius: 15px;
  transition: background-color 0.1s;
  cursor: pointer;
}
.vue-slider:hover .vue-slider-rail {
  background-color: #2E2E2E;
}

/* process style */
.vue-slider-process {
  background-color: #86BC25;
  border-radius: 15px;
  transition: background-color 0.1s;
}
.vue-slider:hover .vue-slider-process {
  background-color: rgb(139, 187, 50);
}

/* dot style */
.vue-slider-dot-handle {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #86BC25;
  border: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  box-sizing: border-box;
  transition: box-shadow 0.3s, border-color 0.3s;
}
.vue-slider:hover .vue-slider-dot-handle {
  border-color: #86BC25;
}

.vue-slider-dot-handle-focus {
  border-color: #86BC25;
  box-shadow: 0 0 0 5px rgba(54, 171, 255, 0.2);
}
.vue-slider:hover .vue-slider-dot-handle-focus {
  border-color: #86BC25;
}

.vue-slider-dot-handle:hover {
  border-color: #86BC25;
}
.vue-slider:hover .vue-slider-dot-handle:hover {
  border-color: #86BC25;
}

.vue-slider-dot-tooltip {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.vue-slider-dot-tooltip-inner {
  font-size: 14px;
  white-space: nowrap;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.75);
  background-color: #1A1A1A;
  border: 1px solid #75787B;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transform: scale(0.9);
  transition: transform 0.3s;
}
.vue-slider-dot-tooltip-inner::after {
  content: "";
  position: absolute;
}
.vue-slider-dot-tooltip-inner-top::after {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-top-color: inherit;
}
.vue-slider-dot-tooltip-inner-bottom::after {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-bottom-color: inherit;
}
.vue-slider-dot-tooltip-inner-left::after {
  left: 100%;
  top: 50%;
  transform: translate(0, -50%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-left-color: inherit;
}
.vue-slider-dot-tooltip-inner-right::after {
  right: 100%;
  top: 50%;
  transform: translate(0, -50%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-right-color: inherit;
}
.vue-slider-dot-tooltip-inner-top {
  transform-origin: 50% 100%;
}
.vue-slider-dot-tooltip-inner-bottom {
  transform-origin: 50% 0;
}
.vue-slider-dot-tooltip-inner-left {
  transform-origin: 100% 50%;
}
.vue-slider-dot-tooltip-inner-right {
  transform-origin: 0% 50%;
}

.vue-slider-dot:hover .vue-slider-dot-tooltip, .vue-slider-dot-tooltip-show {
  opacity: 1;
  visibility: visible;
}
.vue-slider-dot:hover .vue-slider-dot-tooltip .vue-slider-dot-tooltip-inner, .vue-slider-dot-tooltip-show .vue-slider-dot-tooltip-inner {
  transform: scale(1);
}
</style>