<template lang="pug">
  #sign-up-model(@keydown.enter="submitSignup")
    .title
      span Signup to Deloitte Cyberlab Website
    input(placeholder="Email" v-model="signUp.email")
    input(type="password" placeholder="Password" v-model="signUp.password")
    input(type="password" placeholder="Repeat password" v-model="passwordConfirm")
    input(placeholder="Username" v-model="signUp.username")
    .warning
      p By signing up to this service you agree to our 
        a(href="#") privacy policy
    
    .sign-up-btn.link(@click="submitSignup")
      span Sign up
    router-link.log-in.link(to="/login", tag="div")
      span Log-in
        
</template>

<script>

export default {
  // props: ['user'],
  name: 'SignUpModel',
  data () {
    return {
      signUp: {
        username: "",
        email: "",
        password: "",
      },
      passwordConfirm: ""
    }
  },
  methods: {
    submitSignup(){
      if(this.passwordConfirm != this.signUp.password){
        vm.$swal(`Oh no`, `password incorrect`, `error` );
        return;
      };
      // console.log(this.signUp);
      let vm = this;
      $.post("http://13.250.1.254:3100/api/register", this.signUp).done(function(res){
        // console.log(res);
        if(res.status.code == 101){
          vm.$swal(`Oh no`, `email exist`, `error` );
        }else if(res.status.code == 201){
          vm.$swal(`Oh no`, `username exist`, `error` );
        }else{
          vm.$swal(`Good`, `Please check your mailbox.`, `success` );
        }
        vm.$router.push("/login");
        
      });
    }
  },
}
</script>

<style lang="sass" scoped>
#sign-up-model
  width: 520px
  background-color: #E8EAE9
  padding: 30px 50px
  display: flex
  flex-direction: column
  align-items: center
  .title
    font-size: 24px
    font-weight: bold
    color: #2A2A2A
    width: 100%
    text-align: center
    margin-bottom: 10px
  input
    width: 100%
    height: 50px
    border: 1px solid #979797
    margin: 10px 0
    padding: 0 20px
    font-size: 16px
    color: #2A2A2A
    &::placeholder
      font-size: 16px
      color: #75787B
  .warning
    width: 100%
    text-align: center
    font-size: 12px
    color: #2A2A2A
    margin-bottom: 10px
    p 
      a
        color: #86BC25
        text-decoration: none
        cursor: pointer
        &:hover
          text-decoration: underline
  .sign-up-btn
    width: 180px
    padding: 10px 0
    display: flex
    justify-content: center
    background-color: #86BC25
    font-size: 12px
    font-weight: bold
    cursor: pointer
    transition: background-color 0.2s
    &:hover
      background-color: lighten(#86BC25,10)
  .log-in
    width: 100%
    text-align: right
    color: #0076A8
    cursor: pointer

</style>