<template>
    <line-chart :chart-data="datacollection"></line-chart>
</template>

<script>
  import LineChart from './LineChart.vue'

  export default {
    components: {
      LineChart
    },
    props: ['dataArray', 'rgb'],
    data () {
      return {
        datacollection: {}
      }
    },
    watch: {
      dataArray: {
        handler() {
          this.fillData();
        },
        immediate: true,
        deep: true
      }
    },
    methods: {
      fillData () {
        this.datacollection = {
          labels: this.dataArray,
          datasets: [
            {
              label: "Data",
              borderColor: `rgba(${this.rgb.r},${this.rgb.g},${this.rgb.b},1)`,
              lineTension: 0,
              pointBorderWidth: 0,
              pointRadius: 0,
              fill: true,
              backgroundColor: this.gradientFill(this.rgb.r,this.rgb.g,this.rgb.b),
              borderWidth: 1,
              data: this.dataArray
            }
          ]
        }
      },
      gradientFill(r,g,b) {
        var ctx = document.createElement("canvas").getContext("2d");
        var fill = ctx.createLinearGradient(500, 0, 100, 0);
        fill.addColorStop(0, `rgba(${r},${g},${b},1)`);
        fill.addColorStop(1, `rgba(${r},${g},${b},0)`);
        return fill;
      }
    }
  }
</script>