<template lang="pug">
  #user-box.lightbox
    .lightbox-container
      .title
        .main-title
          span Control Panel: {{user.name}}
        .sub-title
          span Manage and view settings related to your account.
      .actions
        .title
          span Actions
        router-link.link(v-on:click.native="close" to="/profile/", tag="div")
          span View My Profile
        router-link.link(v-on:click.native="close" to="/setting/", tag="div")
          span Account Settings & Team Management
        .link(@click="logout")
          span Log Out
      .subscription
        .title
          span Subscription
        .plan
          span Plan: {{user.plan}}
        .server
          span Server: {{user.server}}
      .btns
        .close-btn(@click="close")
          span ✕
        
</template>

<script>
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/antd.css'

export default {
  components: { VueSlider },
  props: ['user'],
  name: 'UserBox',
  data () {
    return {
    }
  },
  methods: {
    close() {
      this.$emit('closeUserBox');
    },
    logout(){
      let vm = this;
      $.post("http://13.250.1.254:3100/api/logout").done(function(res){
        if(res.status.code == 100 || res.status.code == 101){
          vm.$swal(`Good`, `Logout successfully.`, `success` );
          vm.$emit('closeUserBox');
          vm.$router.push("/login");
        }else{
          
        }
        // console.log(res);
      });
    }
  },
}
</script>

<style lang="sass" scoped>
.lightbox
  width: 100vw
  height: 100vh
  z-index: 500
  position: fixed
  top: 0
  left: 0
  background-color: rgba(#000,0.76)
  display: flex
  justify-content: center
  align-items: center
  .lightbox-container
    width: 600px
    background-color: #212121
    >.title
      width: 100%
      padding: 30px 0
      display: flex
      flex-direction: column
      align-items: center
      background-color: #1A1A1A
      line-height: 1.5
      .main-title
        font-size: 20px 
        font-weight: bold
      .sub-title
        font-size: 13px
        color: #E8EAE9
    .actions
      width: 100%
      margin-top: 50px
      padding: 0 100px
      font-size: 16px 
      display: flex
      flex-direction: column
      align-items: flex-start
      line-height: 2
      .title
        font-weight: bold
      .link
        color: #86BC25
        text-decoration: none
        cursor: pointer
        &:hover
          text-decoration: underline
    .subscription
      width: 100%
      margin-top: 50px
      padding: 0 100px
      font-size: 16px 
      display: flex
      flex-direction: column
      line-height: 2
      .title
        font-weight: bold
      .plan,.server
        color: #97999B
      
    .btns
      width: 100%
      padding: 20px 30px
      display: flex
      background-color: #1A1A1A
      justify-content: flex-end
      margin-top: 25px
      .close-btn
        border: 1px solid #75787B
        border-radius: 5px
        height: 35px
        padding: 0 11px
        display: flex
        justify-content: center
        align-items: center
        font-size: 16px
        cursor: pointer
        background-color: rgba(#4B4B4B, 0)
        transition: background-color 0.2s
        &:hover
          background-color: rgba(#4B4B4B, 1)

</style>