<template lang="pug">
  #app
    Header(v-if="$route.name !== 'login' && $route.name !== 'signup'" :user="user" v-on:openUserBox="openUserBox")
    Menu(v-if="$route.name !== 'login' && $route.name !== 'signup' && $route.name !== 'active'" :user="user" )
    .page-wrapper(:class="{'login-layout': $route.name == 'login' || $route.name == 'signup'}")
      img.page-loading(src="./assets/loading.gif", v-show="isPageLoading")
      router-view(v-show="!isPageLoading")
    UserBox(v-if="isOpenUserBox" :user="user" v-on:closeUserBox="closeUserBox")

    //- router-link.link(to="/", tag="div") Home
    //- router-link.link(to="/login", tag="div") Login
    //- router-link.link(to="/machines", tag="div") Machines
    //- router-link.link(to="/machine/0", tag="div") Machine
    //- router-link.link(to="/user/0", tag="div") User
    //- router-link.link(to="/setting", tag="div") Setting
    //- router-link.link(to="/profile", tag="div") Profile
    //- router-link.link(to="/vpn", tag="div") Vpn
</template>

<script>
import Header from './components/Header'
import Menu from './components/Menu'
import UserBox from './components/UserBox'
import store from './store'


export default {
  components: { Header, Menu, UserBox },
  name: 'App',
  data () {
    return {
      // user: {
      //   username: "User123",
      //   avatarIcon: "https://fakeimg.pl/100x100/ffffff/",
      //   country: ""
      // },
      isOpenUserBox: false
    }
  },
  methods: {
    openUserBox() {
      this.isOpenUserBox = true;
    },
    closeUserBox() {
      this.isOpenUserBox = false;
    },
    checkLoginStatus(){
      // return;

      let vm = this;
      $.get("http://13.250.1.254:3100/api/usersetting").done(function(res){
        if(res.status.code == 100 || res.status.code == 101){
          store.commit('updateUserInfo', res.usersetting);
          if(vm.$route.name == "login" || vm.$route.name == "signup"){
            vm.$router.push("/machines/?catagory=0&level=0");
          }
        }else{
          if(vm.$route.name != "login" && vm.$route.name != "signup"){
            vm.$swal(`Failed`, "Please login first", `error` );
            vm.$router.push({name: "login"});
          }
        }
      });
    }
  },
  mounted() {
    this.checkLoginStatus();
  },
  computed:{
    user(){
      return store.state.userInfo;
    },
    isPageLoading(){
      return store.state.isPageLoading;
    }
  },
  watch:{
    $route(){
      
      this.checkLoginStatus();
    }
  }
}
</script>

<style lang="sass">
  *
    box-sizing: border-box
    position: relative
    outline: none
    // user-select: none
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
  *::-webkit-scrollbar
    width: 0 !important
    
  .swal2-confirm.swal2-styled
    background-color: white !important
    color: #222 !important

  html,body
    width: 100%
    min-height: 100vh
    padding: 0
    margin: 0
    background-color: #242424
    font-family: Helvetica ,PingFangTC, "微軟正黑體", sans-serif
    font-weight: 300
    color: #fff
    ::selection
      background: #fff
      color: #000
  #app
    display: flex
    width: 100%
    min-height: 100vh
    .page-wrapper
      width: calc(100% - 200px)
      min-height: calc(100vh - 60px)
      margin-left: 200px
      margin-top: 60px
      &.login-layout
        width: 100%
        min-height: auto
        height: 100vh
        margin: 0
    .page-loading
      width: 60px
      position: absolute
      left: 50%
      top: 50%
      transform: translateX(-50%) translateY(-50%)
  .green-text
    color: #86BC25
  .blue-text
    color: #0076A8
  .fade-enter-active, .fade-leave-active
    transition: opacity .5s
  .fade-enter, .fade-leave-to
    opacity: 0
</style>